<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
    <span class="fa fa-close" aria-hidden="true" style="margin: 8px 8px 0 0"></span>
  </button>
  <h3 class="modal-title"><i class="fa fa-cogs"></i>&nbsp;&nbsp;Self-Initiated Task&nbsp;&nbsp;<span style="font-size: 16px">NetID: <u>{{data.sitask.username}}</u></span></h3>
</div>

<div class="modal-body" style="padding-bottom: 0;">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
      <div class="sub-title" style="font-size: 16px;">Task detail:</div><hr style="margin: 3px 0 8px 0"/>
      <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 50px; overflow: auto;">{{data.sitask.description}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
      <div class="sub-title" style="font-size: 16px;">Message display to <u>customer</u>:</div><hr style="margin: 3px 0 8px 0"/>
      <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 80px; overflow: auto;">{{data.sitask.msg_DisplayCustomer}}</p>

      <div class="sub-title" style="font-size: 16px; margin-top: 80px;">Notification to <u>customer</u>:</div><hr style="margin: 3px 0 8px 0"/>
      <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 80px; overflow: auto;">{{data.sitask.msg_NotifyCustomer || 'N/A'}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
      <div class="sub-title" style="font-size: 16px;">Message display to <u>technician</u>:</div><hr style="margin: 3px 0 8px 0"/>
      <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 80px; overflow: auto;">{{data.sitask.msg_DisplayTechnician}}</p>

      <div class="sub-title" style="font-size: 16px; margin-top: 80px;">Chores created:</div><hr style="margin: 3px 0 8px 0"/>
      <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 80px;" ng-show="data.sitask.chores && !data.sitask.chores.length">No chore created.</p>
      <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-hover" style="margin-bottom: 0; max-height: 150px; overflow: auto;" ng-show="data.sitask.chores && data.sitask.chores.length">
        <tbody>
          <tr ng-repeat="chore in data.sitask.chores">
            <td style="line-height: 22px; word-wrap: break-word; max-width: 0px;">{{chore.instruction}}</td>
            <td style="width: 150px;">

              <div class="form-horizontal" ng-show="!chore.completed" style="line-height: 20px; text-align: right;">
                <div class="form-group" style="margin: 0;">
                  <div class="col-lg-10 col-md-10 col-sm-10" style="padding: 0; text-align: right;">
                    <span style="margin-right: 8px; font-size: 8px;">
                      <i class="fa fa-user" tooltip-append-to-body="true" tooltip-placement="right"
                         uib-tooltip="Created by {{chore.createdBy.displayName}}"></i>&nbsp;
                      <span style="color: gray;">{{chore.created | date : 'short'}}</span>
                    </span>
                  </div>

                  <div class="col-lg-2 col-md-2 col-sm-2" style="padding: 0; text-align: right;">
                    <i class="fa fa-times"></i>
                  </div>
                </div>
              </div>

              <div class="form-horizontal" ng-show="chore.completed" style=" line-height: 10px;">
                <div class="form-group" style="margin: 0;">
                  <div class="col-lg-10 col-md-10 col-sm-10" style="padding: 0; text-align: right;">

                    <span style="margin-right: 5px; font-size: 8px;">
                      <i class="fa fa-user" tooltip-append-to-body="true" tooltip-placement="right"
                         uib-tooltip="Created by {{chore.createdBy.displayName}}"></i>&nbsp;
                      <span style="color: gray;">{{chore.created | date : 'short'}}</span>
                    </span>

                    <span style="margin-right: 7px; font-size: 8px;"><br>
                      <i class="fa fa-user" tooltip-append-to-body="true" tooltip-placement="right"
                         uib-tooltip="Completed by {{chore.completedBy.displayName}}"></i>&nbsp;
                      <span style="color: gray;">{{chore.completed | date : 'short'}}</span>
                    </span>
                  </div>

                  <div class="col-lg-2 col-md-2 col-sm-2" style="padding: 0; text-align: right; line-height: 22px;">
                    <i class="fa fa-check"
                       tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="{{chore.note}}"></i>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer" style="padding: 10px 10px 0 0; margin: 0 0 10px 0; border-top: 0px;">
  <span style="color: red;" ng-show="error"><i class="fa fa-times-circle"></i> {{error}}&emsp;</span>
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Done</button>&nbsp;
</div>

