<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
      <span class="fa fa-close" aria-hidden="true" style="margin: 8px 8px 0 0"></span>
    </button>
    <h3 class="modal-title"><i class="fa fa-calendar"></i>&nbsp;&nbsp;MARS Reservation</span></h3>
  </div>
  
  <div class="modal-body" style="padding-bottom: 0; height: 400;">
    <iframe src="https://calendar.google.com/calendar/embed?height=360&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=NGYwOXUzaGE5aXJzbDU5bjU5cXBhZWVlMXY3MWVkZTRAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23F6BF26&amp;mode=WEEK&amp;showTitle=1&amp;showNav=1&amp;showDate=1&amp;showTz=0&amp;showTabs=0&amp;showPrint=0" style="border-width:0" width="570" height="360" frameborder="0" scrolling="no"></iframe>
  </div>
  
