<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
    <span class="fa fa-close" aria-hidden="true" style="margin: 8px 8px 0 0"></span>
  </button>
  <h3 class="modal-title"><i class="fa fa-calendar"></i>&nbsp;&nbsp;SPS Reservation</span></h3>
</div>

<div class="modal-body" style="padding-bottom: 0; height: 400;">
  <iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=340&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=beeuk5vr117389a7u4afh4uj84pakht4%40import.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FNew_York" style="border-width:0" width="580" height="340" frameborder="0" scrolling="no"></iframe>
</div>

