<section class="app-container">
  <div class="row content-container" style="padding-bottom: 30px">
    <header ng-include="'/modules/technician/client/views/panel/header.client.view.html'" class="row content-container"></header>
    <div class="container-fluid" style="min-height: 95vh;">
      <div class="side-body padding-top">
        <div class="row no-margin-bottom" ui-view></div>
      </div>
    </div>
  </div>

  <footer class="app-footer" style="position: absolute; bottom: 4px; padding: 0 1vw;">
    <div class="wrapper">
      <span class="pull-right">v2.0 <a href="https://github.com/henryYHC/STS-Integrated-System"><i class="fa fa-code-fork"></i></a></span>
      Copyright &copy; 2015-2017 by Emory Student Tech Support.
    </div>
  </footer>
</section>
