<section class="home-container">
  <header class="walkin-header">
    <img class="walkin-image" src="static/img/walkin-header.png">
  </header>

  <div class="invalid-user-message">
    <i class="fa fa-frown-o fa-5x" style="color:red;"></i>
    <p style="font-size: 28px; margin-top: 1em; margin-bottom: 1em;">We are not able to accept your request.</p>
    <p style="font-size: 18px; text-align: justify; margin-left: 5em; margin-right: 5em; margin-bottom: 3em;">
      We can only assist students who are currently enrolled at Emory.
      If you are in fact a student, please do notify our technician.
      Thank you for visiting Student Technology Support.</p>
  </div>
</section>

<script type="text/javascript">
  setTimeout(function(){ window.location.href = '/customer/home'; }, 8000);
</script>
